@model ContactCore.Models.ViewModels.RoleViewModel


<h2>Добавить роль</h2>
<form asp-action="Create" method="post">
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label for="Name">Новая роль</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
